---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import humanize from 'humanize-plus';

import { imageTransform, longDate } from '../lib/utils.mjs';

const {
  title = "This is a title",
  uri = "",
  listimage = "",
  featureimage = "",
  excerpt = "",
  date,
  readingTime = 0,
  wordCount = 0,
  compact = false,
} = Astro.props;

// get a random placeholder image if none is supplied.
const placeholderModules = import.meta.glob<{ default: ImageMetadata }>(
  '../../../content/img/posts/listimages/*.{png,jpg,jpeg,webp}',
  {
  eager: true,
  }
);
const placeholderImages = Object.values(placeholderModules).map((mod) => mod.default);
const placeholderCount = placeholderImages.length || 12;
const randomImage = Math.floor(Math.random() * placeholderCount);

const placeholderImage = placeholderImages[randomImage] ?? `../../img/posts/listimages/li${randomImage}.png`;

const image = listimage || featureimage || placeholderImage;

// convert date to yyyy-mm-dd for metadata info
const publishDate = (new Date(date)).toISOString().slice(0,10);
---
<li class="listitem" itemscope="blogPost" itemtype="https://schema.org/BlogPosting">
  <div>
    <a itemprop="url" href={`/${uri}`}>
      <Image src={imageTransform(image)} alt={title}
        layout="constrained"
        width="600" height="250" loading="lazy"/>
    </a>
  </div>
  { compact && (
    <p itemprop="headline">
      <a href={`/${uri}`}>{title}</a>
    </p>
  )}
  { !compact && (
    <h3 itemprop="headline"><a href={`/${uri}`}>{title}</a></h3>
    <p class="postdate">
      <time itemprop="datePublished" datetime={publishDate}>{longDate(date)}</time></p>
    <p itemprop="abstract" itemtype="https://schema.org/CreativeWork">{excerpt}</p>
    <p class="postdata" aria-hidden="true">
      <meta itemprop="timeRequired" content={`PT${readingTime}M`} />
      <span>
        <Icon name="fa7-solid:clock"/>
      </span>
      <span>{readingTime} mins ({humanize.compactInteger(wordCount, 1)} words)</span>
    </p>
  )}
</li>

<style>

</style>
