---
// Base layout component for the site to hook all the other pages into
import '../styles/global.css';

import humanize from 'humanize-plus';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { imageTransform } from '../lib/utils.mjs';
import { SITE_META } from '../lib/site-meta.mjs';

const {
  title: rawTitle = SITE_META.defaultTitle,
  slug = '/',
  seo = {},
} = Astro.props;

const siteUrl = Astro.site ?? SITE_META.siteUrl;
const pageTitle = seo.title ?? rawTitle ?? SITE_META.defaultTitle;
const description = seo.description ?? SITE_META.description;
const pageType = seo.type ?? 'post';
const tweet = seo.tweet ?? '';
const readingTime = seo.readingTime ?? 0;
const words = seo.words ?? 0;
const extraMeta = Array.isArray(seo.meta) ? seo.meta : [];

const resolveImagePath = (value) => {
  if (!value) return undefined;
  if (typeof value === 'string') return imageTransform(value);
  if (typeof value === 'object' && value.src) return value.src;
  return undefined;
};

const imagePath = resolveImagePath(seo.image);
const imageUrl = imagePath && siteUrl ? new URL(imagePath, siteUrl).toString() : undefined;

let titleTag = pageTitle || SITE_META.defaultTitle;
if (titleTag !== SITE_META.defaultTitle) {
  titleTag = `${titleTag} | ${SITE_META.defaultTitle}`;
}

const cardMeta = [];

if (imageUrl) {
  cardMeta.push({ property: 'og:image', content: imageUrl });
  cardMeta.push({ name: 'twitter:image', content: imageUrl });
}

if (readingTime > 0) {
  const roundedTime = Math.ceil(readingTime);
  cardMeta.push({ name: 'twitter:label1', content: 'Reading Time' });
  cardMeta.push({ name: 'twitter:data1', content: `${roundedTime} minutes` });
}

if (words > 0) {
  const humanisedWords = humanize.compactInteger(words, 1);
  cardMeta.push({ name: 'twitter:label2', content: 'Words' });
  cardMeta.push({ name: 'twitter:data2', content: `${humanisedWords}` });
}

const metaTags = [
  { name: 'description', content: description },
  { property: 'og:title', content: pageTitle },
  { property: 'og:description', content: description },
  { property: 'og:type', content: pageType },
  { name: 'twitter:card', content: 'summary_large_image' },
  { name: 'twitter:creator', content: SITE_META.author },
  { name: 'twitter:site', content: SITE_META.author },
  { name: 'twitter:title', content: pageTitle },
  { name: 'twitter:description', content: tweet || description },
].concat(extraMeta).concat(cardMeta);

const canonical = siteUrl ? new URL(Astro.url.pathname, siteUrl).toString() : undefined;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#FF5E9A" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <title>{titleTag}</title>
    {canonical && <link rel="canonical" href={canonical} />}
    {metaTags.map((tag) => <meta {...tag} />)}
  </head>
  <body>
    {Astro.slots.has('header') && (
      <slot name="header" />
    )}
    <main>
      <article>
        <slot />
      </article>
      <aside>
        {Astro.slots.has('postdata') && (
          <section>
            <slot name="postdata" />
          </section>
        )}
        <Nav />
      </aside>
    </main>

    <Footer slug={slug} />
  </body>
</html>

<style is:global>
  /** CORE LAYOUT STYLES **/
  main {
    width: 100%;
    box-sizing: border-box;

    @media only screen and (min-width: 821px) {
      /** Main is a flex container when it's bigger*/
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1051px) {
      width: 1020px;
      margin: 0 auto;
    }

    & article {
      width: 100%;

      @media only screen and (min-width: 821px) {
        /** Article is a flex item when it's bigger **/
        flex-grow: 2;
        align-self: flex-start;
        width: 62%;
      }

      @media only screen and (min-width: 1051px) {
        width: 66%;
      }

      & section {
        margin-top: var(--gutter);

        & h2, & h3 {
          margin: 0;
          margin-left: var(--gutter);
          padding: 0px 0px 0.5rem;
        }

        & h4, & h5 {
          margin: calc(0.5 * var(--gutter)) var(--gutter);
        }

        & p, & pre {
          padding: 0 var(--gutter);

          > code {
            font-size: 1.5rem;
          }

          & b {
            font-weight: inherit;
          }
        }

        /** use this for inline code snippets **/
        & p > code.language-text {
          background-color: var(--lightened-grey);
          border-radius: 0.2rem;
          font-size: initial;
          color: var(--light-text-colour);
          padding: 0.2rem 0.5rem;
        }

        & p, & ul > li, & blockquote, & ol > li {
          font-size: 2rem;

          @media only screen and (min-width: 821px) {
            font-size: 2.2rem;
          }
        }

        & ul, & ol {
          margin: 0 var(--gutter);
          margin-left: calc(-1 * var(--gutter));

          @media only screen and (min-width: 821px) {
            margin-left: -2rem;
          }

          @media only screen and (min-width: 1051px) {
            margin-left: -1rem;
          }
        }

        & p:has(img) {
          margin-bottom: 0px;
          padding: 0;
          margin-left: 0px !important;
          margin-right: 0px !important;
        }

        & p img {
          max-width: 1000px !important;
          width: 100%;
          height: auto;
        }

        /** pullquote and blockquote styles **/
        & blockquote, & p.has-pullquote::before {
          font-style: italic;
          margin: auto var(--margin-indent);
          margin-right: 0;
          padding: 0 calc(var(--gutter) - var(--margin-indent) - 2px);
          padding-right: var(--gutter);
          border-left: 2px solid var(--accent);
        }

        & blockquote > p {
          padding: 0 !important;
          font-family: var(--quote-font-family);
          font-weight: var(--heading-font-weight);
          font-style: normal;
          font-size: 4rem;
          color: var(--highlight);
        }

        & p.has-pullquote::before {
          content: attr(data-pullquote);
          display: block;
          font-family: var(--quote-font-family);
          font-weight: var(--heading-font-weight);
          font-style: normal;
          font-size: 4rem;
          color: var(--highlight);

          margin: inherit !important;
          margin-left: calc(-1 * var(--gutter) + var(--margin-indent)) !important;
        }
      }

      /** used for listing pages like tags, home etc **/
      & section.list {
        > h1 {
          color: var(--dark-base);
          font-size: 3.5rem;
          padding: 0 var(--gutter);
          margin-bottom: 0;
        }

        > h1::first-letter {
          text-transform: uppercase;
        }

        > h2 {
          font-size: 3rem;
        }

        > h3,
        > h2 {
          margin: calc(0.5 * var(--gutter)) var(--gutter);
          display: block;
          background: none;
          color: var(--dark-base);
          box-shadow: none;
          padding: 0;
        }

        & p {
          font-size: 2rem;
        }
      }
    }
    > aside {
      /** Aside is a flex item **/
      width: 100%;

      @media only screen and (min-width: 821px) {
        /** aside is a flex item at bigger resolutions **/
        flex-grow: 1;
        align-self: flex-start;
        top: var(--gutter);
        margin-top: var(--gutter);
        position: sticky;
        padding: 0 var(--gutter);
        height: min-content;
        width: 27%;

        /** But it is also a container of the nav and post data **/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      /** change the order if it's a row layout.**/
      & nav {

        @media only screen and (min-width: 821px) {
          order: 1;
        }
      }

      & section {

        @media only screen and (min-width: 821px) {
          order: 2;
        }
      }

      /** post data styles **/
      & section {
        padding: 0 var(--gutter);

        @media only screen and (min-width: 821px) {
          padding: 0;
        }

        & h2 {
          display: none;

          @media only screen and (min-width: 821px) {
            display: block;
            font-size: 3rem;
            color: var(--dark-base);
            margin: var(--gutter) 0;
            line-height: 0.9;
          }

          @media only screen and (min-width: 1051px) {
            font-size: 4rem;
          }
        }

        & p.published {
          display: none;

          @media only screen and (min-width: 821px) {
            display: inline;

            font-size: 2rem;
            color: var(--light-text-colour);
            background: var(--dark-grey);
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            box-shadow: none;
            padding: 0.5rem;
            border-bottom: 0.4rem solid var(--light-base);
            border-radius: 0.2rem;
          }
        }
      }
    }
  }
</style>
